<!-- footer -->
<footer class="footer" id="footer">
    <div class="container">
        <div class="div d-flex justify-content-around py-4">
            <a target="_blank" href="https://t.me/poarc"> <span class="footer-icon"><i class="fab fa-telegram"></i></span></a>
            <a target="_blank" href="https://instagram.com/poarc_studio?igshid=137w6rd4bq2xp"> <span class="footer-icon"><i class="fab fa-instagram"></i></span></a>
            <a target="_blank" href="https://www.linkedin.com/in/pooya-alizadeh-60a7411a8/">
                <span class="footer-icon"><i class="fab fa-linkedin"></i></span></a>
        </div>
    </div>
</footer>